/* 
    Created on : Nov 3, 2015, 10:46:04 AM
    Author     : Alessandro Zolet
*/

.layer-opacity-control {
    background-color: #FFFFFF;
}

.layer-opacity-control .slider.slider-vertical {
    width: 26px;
}